a {
  text-decoration: none;
  position: relative;
  margin: 0 15px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    display: block;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    display: block;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
  }
  &:hover::after {
    width: 50%;
  }
  &:hover::before {
    width: 50%;
  }
}
