@import url('./__fonts.scss');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  box-sizing: border-box;
  color: var(--color-text);
}

:root {
  --bg-color: #161623;
  --color-primary: rgb(234, 70, 21);
  --color-primary-hover: rgb(244, 104, 63);
  --color-gray: rgb(192, 194, 215);
  --color-text: #fff;
}
