.header {
  margin: 15px 0;
  height: 40px;
  z-index: 10;
  position: relative;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_left {
      display: flex;
      align-items: center;
      img {
        height: 24px;
      }
    }
    &_center {
      display: flex;
    }
    &_right {
      display: flex;
      &_search {
        display: flex;
        margin-left: 20px;
        input {
          background: none;
          border: none;
          margin-left: 10px;
          outline: none;
          padding: 5px 0;
          font-size: 14px;
          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }
  svg {
    width: 20px;
    cursor: pointer;
  }
}
